:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  
  color-scheme: light dark;

  --text-color: #242424;
  --bg-color: #fffbf7;
  --accent-dark: rgb(17, 19, 46);
  --accent-light: rgba(17, 19, 46, 0.315);

  --accent-bg: white;


  --input-bg: white;


  --btn-bg-primary: white;
  --btn-color-primary: rgba(0, 0, 0, 0.87);
  --btn-hover-primary: rgba(170, 170, 170, 0.445);


  --btn-has-svg-bg: #f3f4f6;

  --svg-fill: black;

  --outline-primary: rgb(250, 166, 110);
  --outline-thickness: 1px;

  --card-bg: rgb(241, 236, 202);

  --code-bg: rgba(240, 206, 143, 0.418);
  --code-border-color: rgba(90, 90, 90, 0.623);

  --link-color: purple;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark{
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --accent-bg: 	#383838;
  --input-bg: #2C2C2C;
  --outline-primary: #444;
  --btn-bg-primary: #5a5a5a;
  --btn-has-svg-bg: #444444;
  --svg-fill: rgba(255, 255, 255, 0.87);
  --btn-hover-primary: #9c9c9c;
  --card-bg: rgb(51, 51, 51);
  --link-color: rgba(63, 224, 63, 0.692);
  --code-bg: rgba(56, 56, 56, 0.74);
  --code-border-color: rgba(255, 255, 255, 0.432);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background .3s ease, color .3s ease;
  overflow-wrap: anywhere;
}

body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

ul{
  list-style-type: disc;
}
ul li::marker{
  color:rgb(255, 170, 41);
}

a{
  text-decoration: none;
  color: var(--text-color)
}
/* forms */
input{
  border: var(--outline-thickness) solid var(--outline-primary);
  background: var(--input-bg);
  color: var(--text-color);
  padding: .3em;
  border-radius: .2rem;
  /* background:rgba(245, 184, 92, 0.096); */
}


fieldset{
  border:none;
}
textarea{
  padding: .7rem;
  resize:none;
}

input[type="checkbox"]{
  scale: 1.2;
  margin-top: .2rem;
  margin-left: .5rem;
}

/* flex */
.flex{
  display:flex;
}
.wrap{
  flex-wrap: wrap;
}
.jc{
  justify-content: center;
}
.ac{
  align-items: center;
}
.jsb{
  justify-content: space-between;
}
.grow{
  flex-grow: 1;
}
.col{
  flex-direction: column;
}
.gap{
  gap: 1rem;
}
.gap-2{
  gap: 1.2rem;
}
.gap-3{
  gap: 1.5rem;
}
.gap-0{
  gap: .2rem;
}
.gap-4{
  gap: 2rem;
}
/* buttons */
button, .a-btn {
  border: 1px solid var(--outline-primary);
  background-color: var(--btn-bg-primary); 
  color: inherit;
  border-radius: 9em; 
  font-weight: 500;
  font-family: sans-serif;
  transition: background 0.2s ease;
}

button:has(.img-svg){
  background-color: var(--btn-has-svg-bg);
  background: none;
  border: none;
}


button:hover {
  background-color: var(--btn-hover-primary);
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; 
}


/* text */
.tac{
  text-align:center;
}


/* positioning */
.rel{
  position: relative;
}
.abs{
  position: absolute;
}


/* margin */

.m0a{
  margin: 0 auto;
}
.mt-3{
  margin-top: 1rem;
}
.m0{
  margin: 0;
}


/* padding */
.pad{
  padding: 1rem;
}


.fs-300{
  font-size: 2rem;
}

/* display */

.hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

svg{
  fill: var(--svg-fill);
}

/* code{
  background: rgba(240, 206, 143, 0.418);
  border: 1px solid rgba(90, 90, 90, 0.623);
  padding: .2em;
} */

.shiki{
  display: block;
  
  padding: 1rem;
  /* padding: 1.5rem; */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
  border-radius: 1rem;
}

.ic{
  background: var(--code-bg);
  border: 1px solid var(--code-border-color);
  padding: .2em;
}

.link{
  text-decoration: underline;
  color: var(--link-color);
}

